.home-section{
  background: white;
  @include center-inner-desktop;
  margin-bottom: 64px;
}

.home-section-free{
  background: white;
  width: calc( 100vw - (#{$border-size-desktop})*2 );
  height: auto;
  margin-bottom: 64px;
}

@include mobile{
  .home-section{
    @include center-inner-mobile;
  }
}


