.landing{
  align-items: center;
  background: $green;
  display: flex;
  justify-content: space-around;

  &__inner{
    @include center-inner-desktop;
    background: white;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  &__content{
    display: flex;
    height: 80%;
    flex-direction: column;
    justify-content: flex-end;
    max-height: 600px;
    max-width: $max-width;
    width: 80%;
  }
  &__title{
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 6.5rem;
    text-transform: uppercase;

  }

  &__tagline{

      svg{
        width: 60%;
        max-width: 600px;
      }
      @include tablet{
        width: 90vw;
        min-width: 300px;
        top: 35%;
      }
      path.p1 {
        @include stroke(0.50s)
      }
      path.p2 {
        @include stroke(0.55s)
      }
      path.p3 {
        @include stroke(0.60s)
      }
      path.p4 {
        @include stroke(0.65s)
      }
      path.p5 {
        @include stroke(0.70s)
      }
      path.p6 {
        @include stroke(0.75s)
      }
      path.p7 {
        @include stroke(0.80s)
      }
      path.p8 {
        @include stroke(0.85s)
      }
      path.p9 {
        @include stroke(0.90s)
      }
      path.p10 {
        @include stroke(0.95s)
      }
      path.p11 {
        @include stroke(1s)
      }



      @keyframes dash {
        to{
          stroke-dashoffset: 0;
        }
      }
      @keyframes fill {
        0%{
          fill: #ffffff;
        }
        90%{
          fill:  #ffffff;
        }
        100% {
          fill: #000000;
        }
      }
      @keyframes appear {
        0%{
          opacity: 0;
        }
        80%{
           opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
  }
}

