.landing{
  align-items: center;
  display: flex;
  justify-content: space-around;
  top: 0;
  position: relative;
  &__inner{
    @include center-inner-desktop;
    background: white;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
  }
  &__content{
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__down{
    bottom: 90px;
    font-size: 1.6rem;
    left: 50%;
    line-height: 2.5rem;
    opcaity: 1;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 0);
     transition: opcaity 0.5s ease;
    &.fadeOut{
      opacity: 0;
      transition: opcaity 0.5s ease;
    }
    @include jump(1.5s);
    img{
      width: 30px;
    }

    @keyframes jump {
      0%{
        transform: translate(-50%,0px);
      }
      50%{
        transform: translate(-50%,20px);
      }
    }
  }
  &__title{
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 6.5rem;
    text-transform: uppercase;
  }
  &__svg{
    left: 25vw;
    position: fixed;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.3s ease;
    &.fadeOut{
      opacity: 0;
      transition: opacity 0.3s ease;
    }
    &.absolute{
      left: calc( 30vw - 64px );
      position: absolute !important;
    }
    svg{
      transform: scale(2.3);
    }
    &.l1{
      position: fixed;
      top: calc( (80vh - 400px );
    }
    &.l2{
      position: fixed;
      top: calc( 80vh - 300px );
      z-index: 200;
    }
    &.l3{
      position: fixed;
      top: calc( 80vh - 200px );
    }
    &.l4{
      position: fixed;
      top: calc( 80vh - 100px );
      z-index: 1;
    }

    path.p1 {
      @include stroke(0.50s)
    }
    path.p2 {
      @include stroke(0.55s)
    }
    path.p3 {
      @include stroke(0.60s)
    }
    path.p4 {
      @include stroke(0.65s)
    }
    path.p5 {
      @include stroke(0.70s)
    }
    path.p6 {
      @include stroke(0.75s)
    }
    path.p7 {
      @include stroke(0.80s)
    }
    path.p8 {
      @include stroke(0.85s)
    }
    path.p9 {
      @include stroke(0.90s)
    }
    path.p10 {
      @include stroke(0.95s)
    }
    path.p11 {
      @include stroke(1s)
    }
    @keyframes dash {
      to{
        stroke-dashoffset: 0;
      }
    }
    @keyframes fill {
      0%{
        fill: #ffffff;
      }
      90%{
        fill:  #ffffff;
      }
      100% {
        fill: #000000;
      }
    }
    @keyframes appear {
      0%{
        opacity: 0;
      }
      80%{
         opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

  }
  &__image{
    //display: none;
    position: absolute;
    right: 0;
    width: 50%;
    height: auto;
    top: calc( 100vh + 24px);
    z-index: 100;
  }
}



@include desktop {
  .landing{
    overflow-y: visible;
    height: auto;
    display: block;
    &__inner{
      @include center-inner-desktop;
      height: 100%;
    }
    &__content{
      width: 100%;
      height: 100%;
      position: relative;
    }

    &__down{
      bottom: 20px;
      display: none;
      opacity: 0;
      visibility: hidden;
    }
    &__svg{
      left: 30vw;
      position: absolute !important;
      &.absolute{
        left: 19vw;
        position: absolute !important;
      }
      svg{
        transform: scale(2.2);
        width: 360px !important;
      }
      &.l1{
        top: calc( 70vh - 320px );
      }
      &.l2{
        top: calc( 70vh - 240px );
      }
      &.l3{
        top: calc( 70vh - 160px );
      }
      &.l4{
        top: calc( 70vh - 80px );
      }
    }

    &__image{
      //display: none;
      position: relative;
      right: 0;
      width: 100%;
      height: auto;
      top: 0;
      margin-top: 100vh;
      z-index: 100;
    }
  }

}

@include tablet{
  .landing{
     &__svg{
      left: 23vw;
      svg{
        transform: scale(1.7);
      }
      &.l1{
        top: calc( 70vh - 240px );
      }
      &.l2{
        top: calc( 70vh - 180px );
      }
      &.l3{
        top: calc( 70vh - 120px );
      }
      &.l4{
        top: calc( 70vh - 60px );
      }
    }
  }
}

@include mobile{
  .landing{
    &__down{
        display: none;
        opcaity: 0;
        visibility: hidden;
    }
    &__svg{
      left: -10px;
      svg{
        transform: scale(0.9);
      }
      &.l1{
        top: calc( 60vh - 160px );
      }
      &.l2{
        top: calc( 60vh - 120px );
      }
      &.l3{
        top: calc( 60vh - 80px );
      }
      &.l4{
        top: calc( 60vh - 40px );
      }
    }
  }
}

.svgs{
  opacity: 1;
  transition: opacity 0.3s ease;
  &.fadeOut{
    opacity: 0;
    transition: opacity 0.3s ease;
  }
}




