.logo{
  pointer-events: none;
  position: fixed;
  top: 2rem;
  left: 10rem;
  visibility: visible;
  z-index: 80;
}

.logo--0{
  @include colorLogo($blue, $white);
}

.logo--1{
  @include colorLogo($green, $white);
}

.logo--2{
  @include colorLogo($red, $white);
}

.logo--3{
  @include colorLogo($yellow, $white);
}

.logo--4{
  @include colorLogo($white, $black);
}


@include desktop {
  .logo{
    left: 1rem;
    top: -17px;
    width: 60px;
  }
}
