.logo{
  pointer-events: none;
  position: fixed;
  top: 2rem;
  left: 10rem;
  visibility: visible;
  z-index: 80;
}

.logo--green{
  @include colorLogo($green, $white);
}

.logo--red{
  @include colorLogo($red, $white);
}

.logo--blue{
  @include colorLogo($blue, $white);
}

.logo--black{
  @include colorLogo($white, $black);
}

@include desktop {
  .logo{
    left: 2rem;
    top: -1rem;
    width: 80px;

  }
}
