.logo{
  pointer-events: none;
  position: fixed;
  top: 2rem;
  left: 10rem;
  visibility: visible;
  z-index: 80;
}

.logo--green{
  @include colorLogo($green, $white);
}

.logo--red{
  @include colorLogo($red, $white);
}

.logo--blue{
  @include colorLogo($blue, $white);
}

.logo--black{
  @include colorLogo($white, $black);
}

.logo--transparent{
  @include colorLogo($transparent, $transparent);
}


@include desktop {
  .logo{
    left: 1rem;
    top: -17px;
    width: 60px;

  }
}
