body{
  position: relative;
}

*, html {
  box-sizing: border-box;
}

.fixed{
  position:fixed;
}

.container {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 2rem;
  width: 100%;
  @include desktop{
    .container {
      max-width: $max-width-desktop;
    }
  }
}

.open{
  display: flex;
}

.hidden{
  visibility: hidden !important;
}



