html, body{
  position: relative;
  overflow: hidden;
  height: 100%;
  transform : translate3d(0, 0, 0);
}

*, html {
  box-sizing: border-box;
}

.fixed{
 position:fixed;
}

// .open{
//   display: flex;
// }

.hidden{
  visibility: hidden !important;
}


.visible{
  opacity: 1 !important;
  z-index: 100 !important;
  transition: z-index 0s, opacity 0.5s !important;


}

.pointer-events-none{
  pointer-events: none;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

::-webkit-scrollbar {
    display: none;
}



button::-moz-focus-inner {
  border: 0;
}





