body{
  position: relative;
  overflow: hidden;

}

*, html {
  box-sizing: border-box;
}

.fixed{
 position:fixed;
}

.open{
  display: flex;
}

.hidden{
  visibility: hidden !important;
}

.pointer-events-none{
  pointer-events: none;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

::-webkit-scrollbar {
    display: none;
}



