
@mixin hd {
  @media (max-width: #{$hd-width}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin center{
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

@mixin center-inner-desktop{
  height: calc( 100vh - (#{$border-size-desktop})*2 );
  width: calc( 100vw - (#{$border-size-desktop})*2 );
}

@mixin center-inner-mobile{
  height: calc( 100vh - (#{$border-size-mobile})*2 );
  width: calc( 100vw - (#{$border-size-mobile})*2 );
}

@mixin zoom($zoom, $speed){
  transform: scale($zoom);
  transform-origin:center;
  transition: transform $speed;
}

@mixin stroke($time) {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  fill: #ffffff;
  animation: dash 1s linear forwards, fill $time ease-in forwards;
}

@mixin colorLogo($fill1, $fill2) {
  g{
    .fill1{
      fill: $fill1;
      transition: all 0.3s ease;
    }
    .fill2{
      fill: $fill2;
      transition: all 0.3s ease;
    }
  }

}


