
// Colors


$black: #000000;
$blue: #009de1;
$gray: #666;
$green: #00d283;
$magenta: #00a4ae;
$off-white: #f2f2f2;
$red: #ff0047;
$yellow: #f8a12f;
$white: #ffffff;

$frame-blue: #55626f;
$frame-green: #5dcdc4;
$frame-green-apple: #c8f26d;
$frame-red: #ed696c;
$frame-red-dark: #c24e5a;


// Element Size
$border-size-hd: 64px;
$border-size-desktop: 44px;


// Containers
$max-width: 1180px;
$max-width-desktop: 700px;
$max-width-content: 950px;

// Devices
$mobile-width:     576px;
$tablet-width:     768px;
$desktop-width:    1200px;
$hd-width:         1300px;
