
// Colors

$off-white: #f2f2f2;
$green: #00d283;
$red: #ed1c24;
$blue: #009de1;
$yellow: #f8a12f;
$magenta: #00a4ae;

$gray: #666;

$link-color: $blue;


// Element Size
$border-size-desktop: 64px;
$border-size-mobile: 44px;


// Containers
$max-width: 1180px;
$max-width-desktop: 700px;
$max-width-content: 950px;

// Devices
$mobile-width:     576px;
$tablet-width:     768px;
$desktop-width:    992px;
$hd-width:         1300px;
