
// Colors


$green: #00d283;

$off-white: #f7f7f7;
$gray: #666;
$blue: #1e8dc0;
$link-color: $blue;


// Spacing
$xs-size: 1rem;
$s-size: 1.4rem;
$m-size: 2rem;
$l-size: 2.8rem;
$xl-size: 3.4rem;



// Font Weight
$thin:100;
$light:300;
$regular:400;
$semibold:500;
$bold:600;

// Font Size
$fs-xxl: 2.4rem;
$fs-xl: 2rem;
$fs-l: 1.8rem;
$fs-m: 1.6rem;
$fs-s: 1.4rem;
$fs-xs: 1.2rem;

// Element Size
$border-size-desktop: 64px;
$border-size-mobile: 44px;


// Containers
$max-width: 1180px;
$max-width-desktop: 700px;
$max-width-content: 950px;

// Devices
$mobile-width:     576px;
$tablet-width:     768px;
$desktop-width:    992px;
$hd-width:         1300px;
